#image1 {
    height: 500px ;
    width: 500px ;
}
#image2 {
    height: 600px ;
    width: 500px ;
} 
#image3 {
    height: 800px ;
    width: 700px ;
}
body {
    text-align: center ;
}